
body {

  color: rgb(8, 0, 4);
  background-color: rgb(0, 0, 0);
  text-align: center;
}

p1 {
  color: rgb(230, 184,204);
}

p2 {
  color: rgb(230, 184,204);
}

p3 {
  color: rgb(230, 184,204);
}

p4 {
  color: rgb(230, 184,204);
}

p5 {
  color: rgb(230, 184,204);
}

.jumbotron {
    background-image: url("../images/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #ffffff;
  }